<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>School diary</title>
    <th:block th:insert="fragments/imports :: head"></th:block>
    <th:block th:insert="fragments/imports :: grade-liks"></th:block>
</head>
<body>
<th:block th:insert="fragments/components :: nav"></th:block>
<div class="main-wrapper justify-content-center">
    <a id="button-top"></a>
    <h2>login error</h2>

    <div class="custom-alert alert alert-danger col-8 mt-4" role="alert">
        <h4>login error</h4>
        <ul>
        </ul>
    </div>
</div>
</body>
<th:block th:insert="fragments/imports :: js_import"></th:block>

</html>