<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register Form</title>
    <th:block th:include="fragments/imports :: head"></th:block>

</head>
<body>
<th:block th:include="fragments/components :: nav"></th:block>
<div class="main-wrapper justify-content-center">
<div class="container-fluid">
    <div class="row justify-content-center mt-3">
        <div class="col-sm-8 col-md-6 col-lg-4 mt-3">
            <h4>Register as school user</h4>
            <form method="post" th:action="@{/user/register/new}" th:object="${userRegisterForm}">
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" class="form-control" aria-describedby="name" placeholder="Enter name"
                           th:field="*{formName}" id="formName" autofocus required>
                </div>
                <div class="form-group">
                    <label>Last Name</label>
                    <input type="text" class="form-control" aria-describedby="last name" placeholder="Enter last name"
                           th:field="*{formLastName}" id="formLastName" required>
                </div>
                <div class="form-group">
                    <label>Email address</label>
                    <input type="email" class="form-control" aria-describedby="emailHelp"
                           placeholder="Enter email" th:field="*{email}" id="email" required>
                    <small id="emailHelp" class="form-text text-primary">We'll never share your email with anyone else.
                    </small>
                    <span class="error" th:errors="*{email}"></span>
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control" placeholder="Password"
                           th:field="*{password}" id="password" required>
                </div>
                <button type="submit" class="btn btn-secondary">Submit</button>
            </form>
        </div>
    </div>
    </div>
</div>

<th:block th:include="fragments/imports :: js_import"></th:block>

</body>
</html>